:root {
    --slide-background-color: #888282;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    margin: 0 auto;
    width: 1280px;
    margin: 0 atuo;
    background-color: #1b2838;
}
.slider {
    width: 1280px;
    height: 60rem;
    border-radius: 10px;
    overflow: hidden;
}
.slides {
    width: 500%;
    height: 50rem;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 20%;
    transition: 2s;
}
.slide img {
    width: 1280px;
    height: 600px;
}

.navigation-manual {
    position: absolute;
    width: 1280px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.munual-btn {
    border: 2px solid var(--slide-background-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.munual-btn:not(:last-child) {
    margin-right: 10px;
}
.munual-btn:hover {
    background-color: var(--slide-background-color);
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 1280px;
    justify-content: center;
    margin-top: 540px;
}
.navigation-auto div {
    border: 2px solid var(--slide-background-color);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child) {
    margin-right: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: var(--slide-background-color);
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: var(--slide-background-color);
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: var(--slide-background-color);
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: var(--slide-background-color);
}

.block {
    margin-top: 60px;
}
.block-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aba4a4;
    height: 10px;
}
.block-header-title {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    font-weight: 600;
    border-radius: 30px;
    font-size: 2.4rem;
    color: #0d1430;
}
.block-content {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -2rem;
}
.block-content a {
    width: calc(33.33% - 2rem);
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding-left: 30px;
    background: linear-gradient(to right, #bbcbe1 0, #313965e4 100%);
    position: relative;
    border-radius: 10px;
}
.block-content .text,
.block-content .text-sub {
    text-transform: uppercase;
    color: #0d1430;
    width: 50%;
}
.block-content .text {
    font-weight: 600;
    font-size: 2.2rem;
}
.block-content img {
    position: absolute;
    top: 3rem;
    right: 2rem;
    width: 15rem;
    height: 15rem;
    /* box-shadow: 10px 10px 10px red; */
}
.block-content .height-image {
    height: 12rem;
}
.block-content a:hover {
    scale: 1.05;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0 10px 5px #dce5f3;
}

/* FOOTER */
/* Phan chinh */
.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}
.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}
.site-footer hr.small {
    margin: 20px 0;
}
.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}
.site-footer a {
    color: #737373;
}
.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}
.footer-links {
    padding-left: 0;
    list-style: none;
}
.footer-links li {
    display: block;
}
.footer-links a {
    color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}
.footer-links.inline li {
    display: inline-block;
}
.site-footer .social-icons {
    text-align: right;
}
.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}
.copyright-text {
    margin: 0;
}
@media (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}
.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}
.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}
.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}
.social-icons a.facebook:hover {
    background-color: #3b5998;
}
.social-icons a.twitter:hover {
    background-color: #00aced;
}
.social-icons a.linkedin:hover {
    background-color: #007bb6;
}
.social-icons a.dribbble:hover {
    background-color: #ea4c89;
}
@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}
/* Phan Info Icon duoi gach ngang*/
.fleft {
    float: left;
}
.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}
.footer_ul2_amrc li p {
    display: table;
}
.footer_ul2_amrc li a:hover {
    text-decoration: none;
}
.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}
.foote_bottom_ul_amrc li {
    display: inline;
}
.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}
.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}
.social_footer_ul li a {
    color: #ccc;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 50%;
}
.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}
