:root {
  --slide-background-color: #888282;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
  width: 1280px;
  margin: 0 atuo;
  background-color: #494d59;
}
.slider {
  width: 1280px;
  height: 60rem;
  border-radius: 10px;
  overflow: hidden;
}
.slides {
  width: 500%;
  height: 50rem;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 20%;
  transition: 2s;
}
.slide img {
  width: 1280px;
  height: 600px;
}

.navigation-manual {
  position: absolute;
  width: 1280px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.munual-btn {
  border: 2px solid var(--slide-background-color);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.munual-btn:not(:last-child) {
  margin-right: 10px;
}
.munual-btn:hover {
  background-color: var(--slide-background-color);
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 1280px;
  justify-content: center;
  margin-top: 540px;
}
.navigation-auto div {
  border: 2px solid var(--slide-background-color);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: var(--slide-background-color);
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: var(--slide-background-color);
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: var(--slide-background-color);
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: var(--slide-background-color);
}

.block {
  margin-top: 60px;
}
.block-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aba4a4;
  height: 10px;
}
.block-header-title {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  font-weight: 600;
  border-radius: 30px;
  font-size: 2.4rem;
  color: #0d1430;
}
.block-content {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -2rem;
}
.block-content a {
  width: calc(33.33% - 2rem);
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding-left: 30px;
  background: linear-gradient(to right, #bbcbe1 0, #313965e4 100%);
  position: relative;
}
.block-content .text,
.block-content .text-sub {
  text-transform: uppercase;
  color: #0d1430;
  width: 50%;
}
.block-content .text {
  font-weight: 600;
  font-size: 2.2rem;
}
.block-content img {
  position: absolute;
  top: 3rem;
  right: 2rem;
  width: 15rem;
  height: 15rem;
  /* box-shadow: 10px 10px 10px red; */
}
.block-content .height-image {
  height: 12rem;
}
.block-content a:hover {
  scale: 0.95;
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 0 10px 5px #dce5f3;
}
