.block-header {
    width: 150px;
    height: 20px;
    background-color: #9b9999;
    padding: 10px;
    position: relative;
}
.block-list {
    display: none;
}
.block-item {
    background-color: yellow;
    width: 150px;
    list-style: none;
}
.block-filter:hover ~ .block-item {
    display: block;
}
